global/.terraform
global/.terraform.lock.hcl
global/terraform.tfstate
global/terraform.tfstate.backup

development/vpc/.terraform
development/vpc/.terraform.lock.hcl
development/vpc/terraform.tfstate
development/vpc/terraform.tfstate.backup

development/eks/.terraform
development/eks/.terraform.lock.hcl
development/eks/terraform.tfstate
development/eks/terraform.tfstate.backup
development/eks/variables.tf

production/vpc/.terraform
production/vpc/.terraform.lock.hcl
production/vpc/terraform.tfstate
production/vpc/terraform.tfstate.backup

staging/vpc/.terraform
staging/vpc/.terraform.lock.hcl
staging/vpc/terraform.tfstate
staging/vpc/terraform.tfstate.backup
